* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green {
    color: green;
}

.center {
    text-align: center;
}

.flexbox {
    display: flex;
}

.inlineblock {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.user {
    bottom: 6px;
    left: 0; 
}


.linepadding {
    margin-top: 10px;
}

.back {
    width: 100vw;
    background-color: black;
}

.container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 65px;
}

.line {
    height: calc(100% / 5);
    width: 100%;
}

.imgbox {
    height: 100%;
    width: calc((100% / 7) - 4px);
}

.imgbox > img {
    width: 100%;
}

.userbox {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3px 3px;
}

.actionbar {
    background-color: #222222;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    color: white;
}

.actionbar-nav {
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
}

.actionbar-nav-left {
    width: 20%;
    justify-content: flex-start;
    align-items: center;
}

.actionbar-nav-center {
    width: 6
    0%;
    justify-content: center;
    align-items: center;
}

.actionbar-nav-right {
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}

.desc {
    font-size: 15px;
    padding: 2px;
}

.actionbar li {
    margin-right: 10px;
    vertical-align: middle;
}

.chevron {
    font-size: 12px;
    vertical-align: middle;
}

.grayrightbox {
    background-color: #4a4a4a;
    color: red;
    height: 100%;
    font-size: 15px;
    text-align: center;
}

.meeting {
    padding: 25px;
}

.icons {
    right: 0;
    top: 5px;
    color: white;
    font-size: 15px;
}

.iconcontainer {
    background-color: #4a4a4a;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
}

